<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Budgeter</title>   
    <link rel="stylesheet" href="budgeter.css">
  </head>
  <body>
    <h1>Budgeter</h1>
    

    <div budget-table>
    <h3>Budget Table</h3>
    <p ng-model="categories"></p>
    <table>
      <tr>
        <th>Category</th>
        <th>Total</th>
        <th>Transactions</th>
      </tr>
      <tr ng-repeat="category in categories">
        <td>{{ category.name }}</td>
        <td class="number">{{ (category.getOutflow(1)/100).toStringAsFixed(2) }}
        <td ng-repeat="transaction in category.loadedTransactions" class="number">{{ transaction.amount() }}</td>
      </tr>   
      <tr id="add-transaction-row" hidden>
        <td><input name="category">Category</input></td>
        <td><input name="date">Date</input></td>
      </tr>
    </table>
    
    <button id="add-transaction-button">Add Transaction</button>
  
  
  
    <script async type="application/dart" src="budgeter.dart"></script>
    <script async type="text/javascript" src="packages/browser/dart.js"></script>
  </body>
</html>
