
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

table {
  border: 1px black solid;
  padding: 10px;
}

table td,
table th {
  padding: 10px;
}

table tr:nth-child(even) {
  background: #FFDDFF;
}

table .number {
  text-align:right;
}

#add-transaction-row {
}